<header>
  
  <nav>
    <ul>
      <li>
        Icono
        </li>
        <li>
          Survey Rails App
        </li>
      </ul>
      <ul>
        <li>
          <button> Sign Up</button>
          </li>

        <li>
          <button> Sign In</button>
          </li>
        </ul>
    </nav>
</header>
